prune docs/
exclude .gitignore
prune changelog.d/
exclude .git-blame-ignore-revs
prune .github/
exclude .pre-commit-config.yaml
exclude requirements.txt
exclude CONTRIBUTING.md
excluding RELEASING.md
